
html {
    scroll-behavior: smooth;
}

/* body + font */
body {
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    --page-load-time: 0.5s;
}

/*style of the section, header + main + footer */
section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 375px;
    height: 812px;
    background: linear-gradient(0deg, #F5F3F1, #F5F3F1), #FFFFFF;
    overflow-y: scroll;
}

/* style of the header */
header {
    margin-top: 52px;
}

header h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 108%;
    color: #1C0F13;
}

.animation {
    animation: page-load var(--page-load-time) ease-in-out;
    animation-fill-mode: forwards;
    transform: translateY(-100%);
}

@keyframes page-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* style of the main content */
main {
    margin-bottom: 148px;
}

main img {
    margin: 145px auto 66px auto;
}

main h2 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #1C0F13;
}

main p {
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    color: #1C0F13;
}

/* footer button */
footer input {
    text-align: center;
    width: 315px;
    height: 51px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    background: #1C0F13;
}